.container {
    display: flex;
    flex-direction: column;
   
  }
  
  .sidebarAndContents {
    display: flex;
    
  }
  @media screen and (max-width: 1400px) {
    .sidebarAndContents {
      display: block;
    }
    
  }